<!-- Medieval Sharp Font -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=MedievalSharp" />

<nav>
  <% include ../partials/navbar %>
</nav>

<% include ../partials/error %>

<div class="info-box">
  <div style="display:inline-block; margin-right:3vw">
    <img src=<%= fantasia.imagem %> style="width:150px; height:150px" />
  </div>
  <% if (req.session.User) { %>
    <div style="position:absolute; top:0px; right:50px">
      <a href="/remove/<%= fantasia.id %>" onclick="return confirm('Deseja realmente excluir a fantasia <%= fantasia.nome %>?');">
        <img src="/images/close.png" style="width:30px; height:30px">
      </a>
    </div>
  <% } %>
  <div class="medieval-text" style="display:inline-block">
    Nome: <%= fantasia.nome %><br>
    Preço: <%= fantasia.preco %><br>
    <% if (req.session.User) { %>
      <form action="/changeprice/<%= fantasia.id %>" method="post">
        <label>Novo Preço: </label>
        <input type="text" name="preco" placeHolder="Novo Preço">
        <input type="submit" value="Alterar Preço">
      </form>
    <% } %>
    Quantidade em estoque: <%= fantasia.quantidade %><br>
    Contém: 
    <% if (fantasia.pecas.length == 0) { %>
      Nada cadastrado.
    <% } else { %>
      <% fantasia.pecas.forEach(function(peca) { %>
        <br><%= peca.tipo %>: <%= peca.descricao %>.
      <% }); %>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>