<!-- W3.CSS by W3Schools -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Medieval Sharp Font -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=MedievalSharp" />

<nav>
  <% include ../partials/navbar %>
</nav>

<% include ../partials/error %>

<div id="principal" class="w3-display-container screen">
  <img src="/images/background.png" class="w3-image" style="width:100%; height:100%" />

  <div class="w3-display-middle blank-bg"></div>

  <div class="w3-display-topmiddle w3-container">
    <h1 class="medieval-text title">Catálogo</h1>
  </div>

  <div class="w3-display-middle w3-container scroll">
    <ul>
      <% fantasias.map(function(fantasia) { %>
        <li class="catalogo-item">
          <a href="/search/<%= fantasia.id %>">
            <img src="<%= fantasia.imagem %>" alt="<%= fantasia.nome %>" style="width:150px; height:150px">
          </a>
          <br>
          <a href="/search/<%= fantasia.id %>">
            <h6 class="medieval-text"><%= fantasia.nome %></h3>
          </a>
        </li>
      <% }); %>
    </ul>
  </div>
</div>